name: CI pipeline

on: push

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Check out Code
        uses: actions/checkout@v6.0.2

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v5.1.0
        with:
          dotnet-version: '8.x'

      - name: Restore 
        run: dotnet restore

      - name: Build
        run: dotnet build

        
      - name: Pack- Create a NuGet Package
        run: dotnet pack --output ./nupkg

      - name: Collect artifact
        uses: actions/upload-artifact@v6.0.0
        with:
            name: nuget-package
            path: ./nupkg
      