name: Starter Pipeline #Worflow name

on: 
- push #trigger
- workflow_dispatch #manual

jobs: 
  Build:
    runs-on: ubuntu-latest #runner

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: setup SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '7.x'
      
      - name: Restore
        run: dotnet restore
        
      - name: Build
        run: dotnet build

      - name: Pack
        run: dotnet pack --output ./nupkg

      - name: Publish Package
        run: dotnet nuget push "./nupkg/*.nupkg" --source "https://nuget.pkg.github.com/ibnehussain/index.json" --api-key ${{ secrets.GITHUB_TOKEN }}